amqp:
  host:   localhost # Queue's IP address
  port:   5672
  username: ghtorrent   # Username to connect to the queue
  password: ghtorrent   # password
  exchange: github
  prefetch: 1


mongo:
  host: 127.0.0.1      # Mongo's IP addr
  port: 27017          # Mongo's port
  db: github           # DB name to store commits to
  username: ghtorrent     # User name to connect to Mongo
  password: T3uaTARENtoW     # Password for mongo

